@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Space+Grotesk:wght@300;400;500;700&display=swap');

:root {
  --font-main: 'Inter', sans-serif;
  --font-mono: 'Space Grotesk', sans-serif;
}
